.cart-container{
    min-width: 50vw;
    width: auto;
    min-height: 70vh;
    height: auto;
    display: flex;
}
.cart-products{
    background-color: bisque;
    width: 70%;
    height: 70vh;
}

.product-lists{
    display: flex;
    justify-content: center;
}
.product-wrapper{
    position: relative;
    top: 5%;
    width: 95%;
    min-height: 30vh;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}
.prouct-image{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prod-details{
  width: 65%;
  display: grid;
  align-items: start;
  justify-content: flex-start;
  padding-top: 2%;
}
.buy-container{
    background-color: rgb(237, 255, 196);
    width: 40%;
    height: 70vh;
}